<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>华为商城</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
   <div class="search">
       <div class="container clearfix">
           <div class="left">
               <i class="fa fa-search"></i>
                <input type="text" placeholder="华为荣耀8">
           </div>
           <div class="right clearfix">
               <a href="#"><img src="images/home/top-right.png" alt=""></a>
               <a href="#">
                   登录
               </a>
           </div>
       </div>
   </div>
   <div class="swiper-container banner">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><a href="#"><img src="images/home/banner01.png" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="images/home/banner02.jpg" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="images/home/banner03.png" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="images/home/banner04.png" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="images/home/banner05.png" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="images/home/banner06.png" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="images/home/banner07.png" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="images/home/banner08.png" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="images/home/banner09.png" alt=""></a></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
  </div>
  <div class="nav-bar">
      <ul class="clearfix">
          <li><a href="https://www.baidu.com/"><img src="images/home/zhekoubtn.png" alt="">
          <p>会员领劵</p>
          </a></li>
          <li><a href="#"><img src="images/home/zhekoubtn.png" alt="">
          <p>邀请有礼</p>
          </a>
          </li>
          <li><a href="#"><img src="images/home/zhekoubtn.png" alt="">
          <p>荣耀Play</p>
          </a>
          </li>
          <li><a href="#"><img src="images/home/zhekoubtn.png" alt="">
          <p>以旧换新</p>
          </a>
          </li>
          <li><a href="#"><img src="images/home/zhekoubtn.png" alt="">
          <p>优选配件</p>
          </a>
          </li>
      </ul>
  </div>
  <div class="main">
      <div class="item1">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-6"><a href="#"><img src="images/home/main/pic1.jpg" alt=""></a></div>
                  <div class="col-xs-6"><a href="#"><img src="images/home/main/pic2.jpg" alt=""></a></div>
                  <div class="col-xs-6"><a href="#"><img src="images/home/main/pic3.jpg" alt=""></a></div>
                  <div class="col-xs-6"><a href="#"><img src="images/home/main/pic4.jpg" alt=""></a></div>
                  <div class="col-xs-6"><a href="#"><img src="images/home/main/pic5.jpg" alt=""></a></div>
                  <div class="col-xs-6"><a href="#"><img src="images/home/main/pic6.jpg" alt=""></a></div>
                  <div class="col-xs-6"><a href="#"><img src="images/home/main/pic7.jpg" alt=""></a></div>
                  <div class="col-xs-4">
                      <a href="#">
                          <img src="images/home/main/pic8.png" alt="">
                          <p>HUAWEI Mate 10 Pro</p>
                          <span>限时优惠500元</span>
                          <div class="txt">
                              <span>￥3999</span><del>￥4499</del>
                          </div>
                      </a>
                  </div>
                  <div class="col-xs-4">
                      <a href="#">
                          <img src="images/home/main/pic9.png" alt="">
                          <p>荣耀V10</p>
                          <span>钜惠500元赠好礼</span>
                          <div class="txt">
                              <span>￥2999</span><del>￥2600</del>
                          </div>
                          <div class="item1-icon">
                              <img src="images/home/remai.png" alt="">
                          </div>
                      </a>
                  </div>
                  <div class="col-xs-4">
                      <a href="#">
                          <img src="images/home/main/pic10.png" alt="">
                          <p>华为畅享8 Plus</p>
                          <span>领劵赠50+赠好礼</span>
                          <div class="txt">
                              <span>￥1899</span>
                          </div>
                          <div class="item1-icon">
                              <img src="images/home/yongjuan.png" alt="">
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="item2">
          <div class="top-title">
              <div class="container">
                  <p>超值精选</p>
              </div>
          </div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <a href="#">
                      <img src="images/home/main/chaozhijingxuan/pic1.jpg" alt="">
                      <p><span>荣耀畅玩7X</span></p>
                      <p>
                          最高优惠320+高配尊享送耳机
                      </p>
                      <div class="txt">
                          <span>￥1099</span>
                          <del>￥1299</del>
                      </div>
                  </a>
              </div>
              <div class="swiper-slide">
                  <a href="#">
                      <img src="images/home/main/chaozhijingxuan/pic2.jpg" alt="">
                      <p><span>华为平板 M3 青春版 10.1英寸</span></p>
                      <p>
                          哈曼卡顿品质立体声
                      </p>
                      <div class="txt">
                          <span>￥1899</span>
                      </div>
                  </a>
              </div>
              <div class="swiper-slide">
                  <a href="#">
                      <img src="images/home/main/chaozhijingxuan/pic3.jpg" alt="">
                      <p><span>荣耀9青春版</span></p>
                      <p>
                          最高优惠350+高配尊享送耳机
                      </p>
                      <div class="txt">
                          <span>￥999</span>
                          <del>￥1100</del>
                      </div>
                  </a>
              </div>
              <div class="swiper-slide">
                  <a href="#">
                      <img src="images/home/main/chaozhijingxuan/pic4.jpg" alt="">
                      <p><span>华为平板 M5 8.4英寸</span></p>
                      <p>
                          8.4英寸2K屏开启高清视界
                      </p>
                      <div class="txt">
                          <span>￥2088</span>
                      </div>
                  </a>
              </div>
              <div class="swiper-slide">
                  <a href="#">
                      <img src="images/home/main/chaozhijingxuan/pic5.jpg" alt="">
                      <p><span>荣耀xSport 运动蓝牙耳机</span></p>
                      <p>
                          直降50元
                      </p>
                      <div class="txt">
                          <span>￥249</span>
                          <del>￥299</del>
                      </div>
                      <div class="item2-icon">
                          <img src="images/home/remai.png" alt="">
                      </div>
                  </a>
              </div>
              <div class="swiper-slide">
                  <a href="#">
                      <img src="images/home/main/chaozhijingxuan/pic6.jpg" alt="">
                      <p><span>HUAWEI nova 2s </span></p>
                      <p>
                          最高直降300元+赠好礼
                      </p>
                      <div class="txt">
                          <span>￥2599</span>
                      </div>
                      <div class="item2-icon">
                          <img src="images/home/zhijiang.png" alt="">
                      </div>
                  </a>
              </div>
            </div>
            <!-- Add Pagination -->
          </div>
      </div>
      <div class="item3">
          <div class="top-title">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-2">
                          <a href="#">
                              <i></i>
                          </a>
                      </div>
                      <div class="col-xs-8">
                          <ul>
                              <li>
                                  <a href="#">
                                      618智能家居狂欢再惠活动
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      华为首期众测来袭，邀您支持！
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      荣耀·花粉6周年庆典
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      智能家装焕新季活动
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      华为首期众测来袭，敬请期待！
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <div class="col-xs-2">
                          <a href="#">
                              更多>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="pics clearfix">
              <a href="#">
                  <img src="images/home/main/gonggao/pic1.jpg" alt="">
              </a>
              <a href="#">
                  <img src="images/home/main/gonggao/pic2.jpg" alt="">
              </a>
          </div>
      </div>
      <div class="main-list">
          <div class="list1 list">
              <div class="top-title">
                  <div class="container clearfix">
                      <div class="left">
                          <p>手机</p>
                      </div>
                      <div class="right">
                          <a href="#">
                              更多
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" v-for="list1col in list1col">
                          <a href="#">
                              <img :src="list1col.img" alt="">
                              <p>{{list1col.p}}</p>
                              <span>{{list1col.span}}</span>
                              <b>{{list1col.b}}</b>
                              <div class="list-icon">
                                  <img :src="list1col.icon" alt="">
                              </div>
                          </a>
                      </div>
                      
                  </div>
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" v-for="list1swiper in list1swiper">
                          <a href="#">
                              <img :src="list1swiper.img" alt="">
                              <p><span>{{list1swiper.span}}</span></p>
                              <p>
                                  {{list1swiper.p}}
                              </p>
                              <div class="txt">
                                  <span>{{list1swiper.txt}}</span>
                              </div>
                              <div class="item2-icon">
                                  <img :src="list1swiper.icon" alt="">
                              </div>
                          </a>
                      </div>
                    </div>
                    <!-- Add Pagination -->
                  </div>
              </div>
          </div>
          <div class="list2 list">
              <div class="top-title">
                  <div class="container clearfix">
                      <div class="left">
                          <p>笔记本</p>
                      </div>
                      <div class="right">
                          <a href="#">
                              更多
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" v-for="list2col in list2col">
                          <a href="#">
                              <img :src="list2col.img" alt="">
                              <p>{{list2col.p}}</p>
                              <span>{{list2col.span}}</span>
                              <b>{{list2col.b}}</b>
                              <div class="list-icon">
                                  <img :src="list2col.icon" alt="">
                              </div>
                          </a>
                      </div>
                      
                  </div>
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" v-for="list2swiper in list2swiper">
                          <a href="#">
                              <img :src="list2swiper.img" alt="">
                              <p><span>{{list2swiper.span}}</span></p>
                              <p>
                                  {{list2swiper.p}}
                              </p>
                              <div class="txt">
                                  <span>{{list2swiper.txt}}</span>
                              </div>
                              <div class="item2-icon">
                                  <img :src="list2swiper.icon" alt="">
                              </div>
                          </a>
                      </div>
                    </div>
                    <!-- Add Pagination -->
                  </div>
              </div>
          </div>
          <div class="list3 list">
              <div class="top-title">
                  <div class="container clearfix">
                      <div class="left">
                          <p>精品平板</p>
                      </div>
                      <div class="right">
                          <a href="#">
                              更多
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" v-for="list3col in list3col">
                          <a href="#">
                              <img :src="list3col.img" alt="">
                              <p>{{list3col.p}}</p>
                              <span>{{list3col.span}}</span>
                              <b>{{list3col.b}}</b>
                              <div class="list-icon">
                                  <img :src="list3col.icon" alt="">
                              </div>
                          </a>
                      </div>
                      
                  </div>
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" v-for="list3swiper in list3swiper">
                          <a href="#">
                              <img :src="list3swiper.img" alt="">
                              <p><span>{{list3swiper.span}}</span></p>
                              <p>
                                  {{list3swiper.p}}
                              </p>
                              <div class="txt">
                                  <span>{{list3swiper.txt}}</span>
                              </div>
                              <div class="item2-icon">
                                  <img :src="list3swiper.icon" alt="">
                              </div>
                          </a>
                      </div>
                    </div>
                    <!-- Add Pagination -->
                  </div>
              </div>
          </div>
          <div class="list4 list">
              <div class="top-title">
                  <div class="container clearfix">
                      <div class="left">
                          <p>智能穿戴</p>
                      </div>
                      <div class="right">
                          <a href="#">
                              更多
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" v-for="list4col in list4col">
                          <a href="#">
                              <img :src="list4col.img" alt="">
                              <p>{{list4col.p}}</p>
                              <span>{{list4col.span}}</span>
                              <b>{{list4col.b}}</b>
                              <div class="list-icon">
                                  <img :src="list4col.icon" alt="">
                              </div>
                          </a>
                      </div>
                      
                  </div>
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" v-for="list4swiper in list4swiper">
                          <a href="#">
                              <img :src="list4swiper.img" alt="">
                              <p><span>{{list4swiper.span}}</span></p>
                              <p>
                                  {{list4swiper.p}}
                              </p>
                              <div class="txt">
                                  <span>{{list4swiper.txt}}</span>
                              </div>
                              <div class="item2-icon">
                                  <img :src="list4swiper.icon" alt="">
                              </div>
                          </a>
                      </div>
                    </div>
                    <!-- Add Pagination -->
                  </div>
              </div>
          </div>
          <div class="list5 list">
              <div class="top-title">
                  <div class="container clearfix">
                      <div class="left">
                          <p>智能家居</p>
                      </div>
                      <div class="right">
                          <a href="#">
                              更多
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" v-for="list5col in list5col">
                          <a href="#">
                              <img :src="list5col.img" alt="">
                              <p>{{list5col.p}}</p>
                              <span>{{list5col.span}}</span>
                              <b>{{list5col.b}}</b>
                              <div class="list-icon">
                                  <img :src="list5col.icon" alt="">
                              </div>
                          </a>
                      </div>
                      
                  </div>
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" v-for="list5swiper in list5swiper">
                          <a href="#">
                              <img :src="list5swiper.img" alt="">
                              <p><span>{{list5swiper.span}}</span></p>
                              <p>
                                  {{list5swiper.p}}
                              </p>
                              <div class="txt">
                                  <span>{{list5swiper.txt}}</span>
                              </div>
                              <div class="item2-icon">
                                  <img :src="list5swiper.icon" alt="">
                              </div>
                          </a>
                      </div>
                    </div>
                    <!-- Add Pagination -->
                  </div>
              </div>
          </div>
          <div class="list6 list">
              <div class="top-title">
                  <div class="container clearfix">
                      <div class="left">
                          <p>热销配件</p>
                      </div>
                      <div class="right">
                          <a href="#">
                              更多
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" v-for="list6col in list6col">
                          <a href="#">
                              <img :src="list6col.img" alt="">
                              <p>{{list6col.p}}</p>
                              <span>{{list6col.span}}</span>
                              <b>{{list6col.b}}</b>
                              <div class="list-icon">
                                  <img :src="list6col.icon" alt="">
                              </div>
                          </a>
                      </div>
                      
                  </div>
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" v-for="list6swiper in list6swiper">
                          <a href="#">
                              <img :src="list6swiper.img" alt="">
                              <p><span>{{list6swiper.span}}</span></p>
                              <p>
                                  {{list6swiper.p}}
                              </p>
                              <div class="txt">
                                  <span>{{list6swiper.txt}}</span>
                              </div>
                              <div class="item2-icon">
                                  <img :src="list6swiper.icon" alt="">
                              </div>
                          </a>
                      </div>
                    </div>
                    <!-- Add Pagination -->
                  </div>
              </div>
          </div>
          <div class="list7 list">
              <div class="top-title">
                  <div class="container clearfix">
                      <div class="left">
                          <p>生态产品</p>
                      </div>
                      <div class="right">
                          <a href="#">
                              更多
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" v-for="list7col in list7col">
                          <a href="#">
                              <img :src="list7col.img" alt="">
                              <p>{{list7col.p}}</p>
                              <span>{{list7col.span}}</span>
                              <b>{{list7col.b}}</b>
                              <div class="list-icon">
                                  <img :src="list7col.icon" alt="">
                              </div>
                          </a>
                      </div>
                      
                  </div>
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" v-for="list7swiper in list7swiper">
                          <a href="#">
                              <img :src="list7swiper.img" alt="">
                              <p><span>{{list7swiper.span}}</span></p>
                              <p>
                                  {{list7swiper.p}}
                              </p>
                              <div class="txt">
                                  <span>{{list7swiper.txt}}</span>
                              </div>
                              <div class="item2-icon">
                                  <img :src="list7swiper.icon" alt="">
                              </div>
                          </a>
                      </div>
                    </div>
                    <!-- Add Pagination -->
                  </div>
              </div>
          </div>
      </div>
      <div class="item4">
          <div class="container">
               <div class="top-title">
                   热销推荐
               </div>
           </div>
           <div class="row" id="list">
               <div class="col-xs-6" v-for="list in list">
                   <a href="#">
                       <img :src="list.img" alt="">
                       <p>{{list.name}}</p>
                       <span>{{list.price}}</span>
                   </a>
               </div>
           </div>
      </div>
  </div>
  <div class="footer">
      <div class="container">
          <div class="top">
              <div class="sign clearfix">
                  <a href="#">
                      登录
                  </a>
                  <a href="#">
                      反馈
                  </a>
              </div>
          </div>
          <div class="middle clearfix">
              <a href="#">
                  <i></i>
                  <p>客户端</p>
              </a>
              <a href="#">
                  <i></i>
                  <p>触屏版</p>
              </a>
              <a href="#">
                  <i></i>
                  <p>电脑版</p>
              </a>
          </div>
          <div class="bottom">
              <a href="#">隐私政策</a>
              <a href="#">用户协议</a>
              <a href="#">苏ICP备17040376号-6</a>
              <br>
              <a href="#">苏公网安备32011402010009号</a>
              <a href="#">Copyright©2012-20</a>
              <br>
              <a href="#">VMALL.COM版权所有</a>
          </div>
      </div>
  </div>
   <div class="footer-nav">
       <ul class="clearfix">
           <li><a href="index.html"><img src="images/home/footer/pic1.png" alt=""></a></li>
           <li><a href="class.html"><img src="images/home/footer/pic2.png" alt=""></a></li>
           <li><a href="#"><img src="images/home/footer/pic3.gif" alt=""></a></li>
           <li><a href="shop-car.html"><img src="images/home/footer/pic4.png" alt=""></a></li>
           <li><a href="me.html"><img src="images/home/footer/pic5.png" alt=""></a></li>
       </ul>
   </div>
   <div class="gotop">
       <img src="images/home/gotop.png" alt="">
   </div>
    <script src="js/vue.js"></script>
    <script src="js/swiper-4.2.6.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/index.js"></script>
    <script>
        var swiper = new Swiper('.banner', {
            spaceBetween: 30,
            centeredSlides: true,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
        
        
        
        var swiper = new Swiper('.main .item2 .swiper-container', {
          slidesPerView: 2.5,
          spaceBetween: 0,
        });
        
        var swiper = new Swiper('.main-list .list .swiper-container', {
          slidesPerView: 2.5,
          spaceBetween: 0,
        });
        
    </script>
</body>
</html>