* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none !important;
}

html,body{ height: 100%; margin: 0; padding: 0; font-size: 14px;}
@media screen and (max-width:320px ) {
    html{font-size: 14px;}
}
@media screen and (min-width:321px) and (max-width:750px ) {
    html{font-size: 16px;}
}
@media screen and (min-width:751px ) {
    html{font-size: 18px;}
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/*search的样式*/

.search {
    padding: 6px 0px;
    box-shadow: 0 0 15px -5px #666;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #fff;
}

.search .left {
    float: left;
    position: relative;
    width: 90%;
}

.search .left input {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    padding: 0 36px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #eee;
}

.search .left i {
    position: absolute;
    font-size: 1rem;
    color: #9b9b9b;
    left: 12px;
    top: 0.5rem;
}

.search .right {
    float: right;
}

.search .right a {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    padding-top: 5px;
}

.search .right a img {
    width: 100%;
}

/*main的样式*/

.main {
    padding-top: 44px;
}

.main .row {
    margin-left: 0;
    margin-right: 0;
}

.main .col-xs-3,
.main .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
}

.main>.row>.col-xs-3 {
    position: fixed;
}

.main>.row>.col-xs-9 {
    margin-left: 25%;
}

.main .col-xs-3 .list ul li a {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
/*    padding: 0px 5px;*/
    border: 1px solid #eaeaea;
    border-top: 0px;
}

.main .col-xs-3 .list ul li a.active {
    border-left: 2px solid #ca141d;
    color: #e01d20;
    background-color: #f6f6f6;
}

.main .col-xs-9 {
    padding-left: 5px;
    padding-right: 5px;
}

.main .col-xs-9 .main-list .item {
    padding-bottom: 70px;
}

.main .col-xs-9 .main-list .item a {
    display: block;
}

.main .col-xs-9 .main-list .item img {
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
}

.main .col-xs-9 .main-list .item .item-list .top-title {
    position: relative;
    z-index: 1;
}

.main .col-xs-9 .main-list .item .item-list .top-title p {
    padding: 12px 0px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    z-index: 2;
    position: relative;
}

.main .col-xs-9 .main-list .item .item-list .top-title::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #eaeaea;
    position: absolute;
    top: 50%;
    left: 25%;
    margin-top: -2px;
    z-index: 1;
}

.main .col-xs-9 .main-list .item .item-list .row {
    margin-right: 0;
    margin-left: 0;
}

.main .col-xs-9 .main-list .item .item-list .col-xs-4 {
    padding-left: 0;
    padding-right: 0;
}

.main .col-xs-9 .main-list .item .item-list .col-xs-4 a {
    display: block;
    padding: 10px 5px;
}

.main .col-xs-9 .main-list .item .item-list .col-xs-4 img {
    width: 70%;
    margin: 0 auto;
}

.main .col-xs-9 .main-list .item .item-list .col-xs-4 p {
    text-align: center;
    font-size: 0.6rem;
    height: 2rem;
    line-height: 1rem;
    color: #333;
    display: block;
    margin: 10px 0px;
    margin-bottom: 0;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*footer-nav的样式*/

.footer-nav {
    position: fixed;
    bottom: 0;
    z-index: 20;
}

.footer-nav ul {
    margin-bottom: 0;
}

.footer-nav ul li {
    float: left;
    width: 20%;
}

.footer-nav ul li a {
    display: block;
}

.footer-nav ul li a img {
    width: 100%;
}
    